*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.info-only{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-info-only{
  width: 50rem;
}

.player-info-only .card{
  width: 50rem;
  height: 25rem;
  box-shadow: 0 4px 15px #e4e4e4;
  padding: 10px;
}

.player-info-only .card-body{
  display: flex;
}

.card-body-only{
  display: flex;
  flex-direction: row;
}

.image-username-only{
  display: flex;
  align-items: center;
}

.image-username-only img{
  height: 85px;
  width: 85px;
  border-radius: 50%;
  border: solid #6c9d41;
  margin-left: 10px;
}

.image-username-only a{
  margin-left: 10px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.profile-only #name{
  display: block;
  position: relative;
  left: 6.5rem;
  top: -1.5rem;
}

.player-info-text{
  display: block;
  padding-left: 10px;
  padding-bottom: 7px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 1.2rem;
}
